:root {
  /* Variables comunes */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  /* Colores claros */
  --background-color-light: #c27f7f;
  --text-color-light: #333333;
  --primary-color-light: #ffd700;
  --accent-color-light: #780000;

  /* Colores oscuros */
  --background-color-dark: #333333;
  --text-color-dark: #ffffff;
  --primary-color-dark: #ff9900;
  --accent-color-dark: #ffcc00;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo claro */
body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.light-mode a {
  color: var(--primary-color-light);
}

body.light-mode a:hover {
  color: var(--accent-color-light);
}

/* Modo oscuro */
body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.dark-mode a {
  color: var(--primary-color-dark);
}

body.dark-mode a:hover {
  color: var(--accent-color-dark);
}

.carousel .slider {
  position: static !important; // Asegura que el slider no tenga posición relativa
}
