.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0; 
}

.dropdown:hover .dropdownContent {
  display: block;
}

.cartItem {
  display:flex; 
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cartItem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cartItem div {
  flex: 1;
  margin-left: 10px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center;
}

.buttonGroup button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonGroup button:hover {
  background-color: #0056b3;
}

.totalAmount {
  text-align: right;
  margin-top: 20px;
}

.checkoutButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.checkoutButton:hover {
  background-color: #218838;
}
