.cart-widget {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 10px;
  background-color: #f8f8f8; 
  border: 2px solid #000000; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px; 
  margin-left: 0; 
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.control-button {
  background-color: #ffd700; 
  color: #000000; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
}

.control-button:hover {
  background-color: #000000;
  color: #ffd700; 
}

.quantity {
  font-size: 16px;
  color: #000000; 
}

.cart-icon {
  width: 24px;
  height: auto;
  margin-left: 10px;
}
