ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  z-index: 10; 

  &.darkMode {
    background-color: #333;
    border-bottom: 2px solid #fff;
    li a {
      color: #fff;
      &:hover {
        background-color: #ff9900;
        color: #fff;
      }
    }
  }

  &.lightMode {
    background-color: #ffffff;
    border-bottom: 2px solid #000;
    li a {
      color: #000;
      &:hover {
        background-color: #f4de62;
        color: #ffffff;
      }
    }
  }
}

li {
  float: left;
}

li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

li:first-child {
  width: 50px;
  margin-right: 10px;
}

li:first-child img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.cartContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.cartIcon {
  width: 24px; 
  height: 24px;
  cursor: pointer;
}

.cartWrapper {
  position: relative;
  z-index: 1000; 
}
